<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
		<h1>Editing product</h1>

		<%= render 'form' %>

		<%= link_to 'Show', @product %> |
		<%= link_to 'Back', products_path %>
	</div>
  </div>
</div>
