<script type="text/javascript">

</script>
<div class="container">    
    <div class="row">
   		<div class="store-products">
   			<%= render 'store_products' %>
        </div>
    </div>
</div>
<br>
